.Footer {
  flex: 1;
  color: #eee;
  background-color: #60311b;
  padding: 1.5rem 3rem;
}
.Header {
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: #fff;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  box-shadow: 0px 1px 10px #bbb;
}
.Header .contact {
  flex: 1;
  padding-left: 3rem;
  display: inline-block;
}
.Header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
}
.Header ul >li {
  color: #c96428;
  font-size: 0.95rem;
  padding: 0.5rem 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.5px;
  border-radius: 0.5rem;
}
.Header ul >li:hover {
  color: #fff;
  background-color: #c96428;
  transition: background-color 0.3s;
}
.Home >div:first-child {
  display: flex;
  justify-content: center;
}
.Home >div:first-child >img {
  width: 85%;
}
.Home >div:nth-child(2) {
  margin: 1rem auto 2rem;
  width: 70%;
}
.Home h2 {
  color: #1c3580;
}
.Home .link {
  color: #c96428;
  font-weight: bold;
  cursor: pointer;
}
.Home .notice {
  font-weight: bold;
  text-transform: uppercase;
}
.Internet {
  margin: 3rem;
}
.Internet >div:first-child {
  width: 70%;
}
.Internet >div:first-child h2 {
  color: #c96428;
}
.Internet input {
  display: block;
  width: 30rem;
  background-color: #f0f0f0;
  border: 0;
  border-bottom: 1px solid #e8e8e8;
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: #555;
}
.Internet input.error {
  background-color: #f6c1c1;
}
.Internet button {
  display: inline-block;
  background-color: #fff;
  color: #c96428;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem 2rem;
  border: 2px solid #c96428;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.Internet button:hover {
  background-color: #c96428;
  color: #fff;
}
.Internet button.submitting {
  background-color: #d97940;
  color: #fff;
}
.Services {
  padding: 3rem;
}
.Services h1 {
  margin-bottom: 1rem;
  color: #c96428;
  font-weight: bold;
}
.Services .intro {
  width: 50%;
  margin-bottom: 1rem;
}
.Services .categories {
  display: flex;
  flex-wrap: wrap;
}
.Services .categories >div {
  width: 45%;
  margin: 0 2rem 1rem 0;
}
.Services .categories >div h3 {
  color: #1c3580;
  font-weight: bold;
}
.Services .categories >div ul li {
  list-style-type: disc;
}
.Toast {
  position: fixed;
  right: 2rem;
  top: 2rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
}
.Toast .ToastMessage {
  display: flex;
  width: 20rem;
  align-items: center;
  background-color: #b13325;
  border-radius: 5px;
  box-shadow: 0 0 12px #999;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  opacity: 0.8;
  padding: 1rem;
  margin-bottom: 1rem;
}
.Toast .ToastMessage.success {
  background-color: #4aa252;
}
.Toast .ToastMessage >div:first-child {
  padding: 0.5rem;
}
.Toast .ToastMessage >div:first-child svg {
  fill: #fff;
  stroke: #fff;
  height: 2rem;
  width: 2rem;
}
.Toast .ToastMessage >div:nth-child(2) {
  padding: 0 0.5rem;
}
.Toast .ToastMessage >div:nth-child(2) >div:first-child {
  font-weight: bold;
}
@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  src: url("/static/font/Roboto-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url("/static/font/Roboto-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url("/static/font/Roboto-Light.ttf") format('truetype');
}
html {
  font-size: 100%;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #fffbf4;
  color: #444;
  height: 100%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div#content {
  margin-top: 4rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2rem;
  letter-spacing: 1px;
}
h2 {
  margin-bottom: 1rem;
  font-weight: bold;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol,
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-margin-start: 0rem;
  -webkit-margin-end: 0rem;
  -webkit-margin-before: 0rem;
  -webkit-margin-after: 0rem;
}
input,
button,
select,
textarea {
  margin: 0;
  border-radius: 0;
}
input:focus,
select:focus,
button:focus {
  outline: 0;
}
.hidden {
  display: none !important;
}
.clearfix {
  display: inline-block;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.border {
  height: 0.25rem;
  width: 5rem;
  background: #444;
  margin: 2rem 0 2.5rem;
}
.animate-in {
  animation: fadeIn 0.3s ease-in-out;
}
.animate-out {
  animation: fadeOut 0.3s ease-in-out;
}
.animate-in-slow {
  animation: fadeIn 3s ease-in-out;
}
.animate-out-slow {
  animation: fadeOut 3s ease-in-out;
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
