.Home
    margin: 0rem 8rem
        
    svg
        display: block
        margin: 1rem auto
    
    h2
        color: $DarkBlue
        
    .link
        color: $DarkOrange
        font-weight: bold
        cursor: pointer
        
    .notice
        font-weight: bold
        text-transform: uppercase

@media (max-width: 767px)
    .Home
        font-size: 1rem
        margin: 0rem 3rem

        h2
            font-size: 1rem
            text-align: center

@media (min-width: 1400px)
    .Home
        font-size: 1rem
