.Home
        
    >div:first-child
        display: flex
        justify-content: center
        
        >svg
            width: 85%

    >div:nth-child(2)
        margin: 1rem auto 2rem
        width: 70%
         

    h2
        color: $DarkBlue
        
    .link
        color: $DarkOrange
        font-weight: bold
        cursor: pointer
        
    .notice
        font-weight: bold
        text-transform: uppercase

