.Internet
    margin: 3rem
    
    .info
        display: flex

        >div:first-child
            flex: 7
        
        >div:last-child
            flex: 3
        
        h2
            color: $DarkOrange
       
    .form
        display: flex
        
        form, div
            flex: 1

        svg
            display: block
            height: 15rem
            margin: 0 auto
            
    input
        display: block
        width: 30rem
        background-color: #f0f0f0
        border: 0
        border-bottom: 1px solid #e8e8e8
        padding: 1rem 1.5rem
        margin-bottom: 2rem
        font-size: 1.2rem
        color: #555
        
        &.error
            background-color: #F6C1C1


    button
        display: inline-block
        background-color: white
        color: #c96428
        font-size: .9rem
        font-weight: bold
        text-transform: uppercase
        letter-spacing: 1px
        padding: 1rem 2rem
        border: 2px solid #c96428
        text-align: center
        cursor: pointer
        transition: all .2s ease-out
        
        &:hover
            background-color: $DarkOrange
            color: white
            
        &.submitting
            background-color: lighten( $DarkOrange, 15% )
            color: white
        
        
