.Services
    padding: 3rem
    
    h1
        margin-bottom: 1rem
        color: $DarkOrange
        font-weight: bold
        
    .intro
        width: 50%
        margin-bottom: 1rem
    
    .categories
        display: flex
        flex-wrap: wrap
            
        >div 
            width: 45%
            margin: 0 2rem 1rem 0

            h3
                color: $DarkBlue
                font-weight: bold
                
            ul li
                list-style-type: disc