.Services
    padding: 3rem
    
    h1
        margin-bottom: 1rem
        color: $DarkOrange
        font-weight: bold
        
    .intro
        display: flex
        margin-bottom: 1rem

        >div
            flex: 1

            svg
                height: 10rem
                display: block
                margin: auto
             
    .categories
        display: flex
        flex-wrap: wrap
            
        >div 
            flex: 1
            margin-bottom: 2rem
            padding: 1rem

            h3
                color: $DarkBlue
                font-weight: bold
                
            ul li
                list-style-type: disc


@media (max-width: 767px)
    .Services
        .intro
            display: block

            >div
                flex: initial

        .categories
            display: block

            >div
                display: block
                flex: initial
                padding: 0rem
            
